.row
	.col-xs-12
		.box.box-primary
			.box-body
				.table-responsive.mailbox-messages
					.table#account-table.table.table-hover.table-striped
						%thead
							%tr
								%th Id
								%th Code
							
								%th Name
								%th Description
								%th Debit
								%th Credit
								
						%tbody
							- @accounts.each do |d|
								%tr id="#{d.id}"
                   